<div class="container">
  <app-navbar></app-navbar>
  <app-breadcrumb></app-breadcrumb>
  <div class="col-12">
    <div class="main col-8">
      <div class="row">
        <div class="main col-12">
          <app-cardrousel [datas]="videosData"></app-cardrousel>
        </div>
        <div class="main col-12">
          <app-cardrousel [datas]="peopleData"></app-cardrousel>
        </div>
        <div class="main col-12">
          <app-cardrousel [datas]="documentData"></app-cardrousel>
        </div>
      </div>
    </div>
    <div class="sidebar col-4">
      <div class="row">
        <div class="col-12">
          <app-activity [datas]="activityData"></app-activity>
        </div>
        <div class="col-12">
          <app-channels [datas]="channelsData"></app-channels>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>